body{
  background: linear-gradient(90deg, #ECD690 0%, #f8be00 100%);
}

.navbar{
  background-color: #00DDFF;
}

.card {
  display: flex;
  flex-direction: column;
  height: 400px;
  border: 1px solid #000;
}

.purple-card {
        background-color: #a69fff;
        color: white;
}