body{
    background-color:  hsl(46, 86%, 80%) !important
}

nav {
    background-color: #00DDFF;
  }

  .container {
    background-color: #2196f3; /* cor de fundo azul */
    color: #fff; /* cor do texto */
    padding: 30px;
    margin-bottom: 20px; /* espaçamento entre os contêineres */
    margin:20px;
    width: 20%;
    border-radius: 5%;
   
  }
  
  .container img {
    max-width: 10%;
  }
  
  .container h2 {
    margin-top: 10px; /* espaçamento entre a imagem e o nome */
  }

  .whatsapp-link{
    background-color: #25d366;
    color: #fff;
   border-radius: 100px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
  }
  
  .fa-whatsapp{
    margin-top:16px
  }


.form-contato{
    display: inline-block;
    margin-left: 20px;
    
}

.container2 {
    background-color: orange; 
    color: #fff; 
    padding: 30px;
    margin-bottom: 20px; 
    margin:20px;
    width: 100%;
}
input{
    display: block;
}

  
.button {
    margin: 10px 0 0 0;
   
    cursor: pointer;
  
    font-size: 1em;
    border: none;
    padding: 10px 15px;
    line-height: 18px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    vertical-align: baseline;
    background: #075da8;
    color: #ECD690;
    text-decoration: none !important;
    display: inline-block;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
  }

  body{
    background: linear-gradient(90deg, #ECD690 0%, #f8be00 100%);
  }
  
  
  .footer {
    background-color: transparent;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer img {
    max-width: 100%;
}
