form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #00DDFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .navbar {
   background-color: #00DDFF;
  }
  h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 40px;
    color:aliceblue
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #D2691E;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  input[type="button"] {
    background-color: #D2691E;
    color: #D2691E;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #D2691E;
  }
  
  /* Estilos para a página como um todo */
  body {
    background-color: #ECD690;
  }
   .button {
    margin: 10px 0 0 0;
    cursor: pointer;
  
    font-size: 1em;
    border: none;
    padding: 10px 15px;
    line-height: 18px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    vertical-align: baseline;
    background: #D2691E;
    color: #ECD690;
    text-decoration: none !important;
    display: inline-block;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
  }