@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';

.navbar{
  background: #00DDFF;
}
.container {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}
.column {
  margin-bottom: 1.5rem;
  width: 100%;
  float: left;
  box-sizing: border-box;
  height: 100%; 
}

@media (min-width: 640px) {
  .container {
    width: 90%;
    padding: 0; 
    height: auto;}
  .column {
    margin-left: 4%; }
  .column:first-child {
    margin-left: 0; }

  .full-width.column              { width: 100%; margin-left: 0; }  

  .one-half.column                { width: 48%; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-quarter.column             { width: 22%; }
  .two-quarter.column             { width: 48%; }
  .three-quarter.column           { width: 74%; }

  .one-half.column                { width: 48%; }

            

}

.container:after,
.row:after,
.clearfix {
  content: "";
  display: table;
  clear: both; }


body {
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(90deg, #ECD690 0%, #f8be00 100%);
  margin: 0;
}

h1, h2, h3, h4 {
  
  color: #ffffff;
  margin-top: 0;
}

h1 {
  font-size: 54px;
}

h2 {
  color: #ECD690;
  font-size: 36px;
}

h3 {
  color: #ffffff;
  font-size: 26px;
}



.center {
  text-align: center;
}

.questions_box {
  background: linear-gradient(90deg, #00DDFF 0%, #00a2ff 100%);
  padding: 60px;
  text-align: left;
  max-width: 960px;
}

.button {
  margin: 10px 0 0 0;
  cursor: pointer;

  font-size: 1em;
  border: none;
  padding: 10px 15px;
  line-height: 18px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: baseline;
  background: #075da8;
  color: #ECD690;
  text-decoration: none !important;
  display: inline-block;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.button:hover {
  background-color: #059fdb !important;
  color: #ffffff;
}

#question-2, #question-3, #question-4, #question-5, #question-6{
  display: none;
}

#progress_bar {
  background-color: #018fd0;
  width: 20%;
  height: 8px;
  transition: all 100ms ease-in-out;
}