.containernav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

button{
    background-color: #00DDFF;
    border-color: #ffffff;
    color: #000000;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

button:hover{
    background-color: #ECD690;
    color: #fff;
  }

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff
}